/* File: styles.css */

/* Styles for App container */
.App {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Styles for buttons */
  button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  